.header{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 7rem;
  border-bottom: 1px solid #D1D1D1D1;
}
.header_logo {
  width: 15rem;
  margin-left: 12.5%;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-basis: 50%;
}
.header_nav > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  width: 15%;
  text-align: center;
}
.header_nav > li > a {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1em;
}
.header_nav > li > ul {
  position: absolute;
  z-index: 59;
  display: none;
  max-height: 0;
  overflow: hidden;
  top: 100%;
  border: 1px solid #D1D1D1D1;
  border-top: none;
  transition: all .4s;
  background-color: #ffff;
  width: 10rem;
}
.header_nav > li.dropdown > ul {
  display: block;
  max-height: fit-content;
}
.header_nav > li > ul > li {
  width: 100%;
  font-weight: 700;
  border-bottom: 1px solid #D1D1D1D1;
  text-align: left;
  padding: 1em;
  cursor: pointer;
}
.header_nav > li > ul > li:hover{
  background-color: #dfeafc;
}
.header_signup {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 10%;
}
.header_signup > li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_signup > li > i {
  display: inline-block;
  font-size: 2.2rem;
  color: #66A6FF;
  cursor: pointer;
  /* margin-bottom: 20%; */
}
.header_signup > li > ul {
  position: absolute;
  z-index: 50;
  background-color: #ffff;
  max-height: 0;
  overflow: hidden;
  display: none;
  top: 100%;
  border: 1px solid #D1D1D1D1;
  border-top: none;
  padding: 1em;
  cursor: pointer;
}
.header_signup > li.dropdown > ul {
  display: block;
  max-height: fit-content;
}
.header_signup > li > ul > li {
  border-bottom: 1px solid #D1D1D1D1;
  text-align: center;
  font-weight: 700;
  padding: 1em;
  width: 10rem;
}