body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul, li{
    list-style: none;
    padding: 0;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    height: 178px;
    border-bottom: 1px solid #E5E5E5;
}

nav a {
    position: absolute;
    left: 16.5rem;
    text-decoration: none;
    color: #4DB7E6;
    font-weight: bold;
    font-size: 2rem;
}

nav img{
    position: absolute;
    width: 35px;
    right: 16%;
    cursor: pointer;
}

.mainBox{
    background: linear-gradient(180deg, rgba(77, 183, 230, 0.2) 57.81%, rgba(77, 183, 230, 0) 100%);
    height: 836px;
    padding: 3rem 0;
    position: relative;
    z-index: 1;
}

.searchBar {
    position: relative;
    display: flex;
    border: 1px solid #E5E5E5;
    border-radius: 50px;
    width: 70vw;
    height: 94px;
    margin: 0 auto;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.container {
    position: relative;
    flex-basis: 35%;
}

.options {
    position: relative;
    padding: 22px 0 22px 47px;
    border-radius: 50px;
    cursor: pointer;
}

.options.hovered {
    background-color: #DDDDDD;
}

.options.warn {
    background-color: rgb(252, 150, 132);
}

.container:nth-child(4){
    flex-basis: 30%;
}

button{
    position: absolute;
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 84px;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4DB7E6;
    color: ghostwhite;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color: #43a2cb;
}

.options div:nth-child(1){
    margin-bottom: 13px;
}

.options div:nth-child(2){
    font-size: 15px;
    color: #a0a0a0;
}

.options.koUniv input {
    outline: none;
    border: none;
    width: 90%;
    padding: 0;
    background-color: transparent;
}

.options.koUniv input::placeholder{
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #a0a0a0;
}

.bar {
    margin: auto;
    background-color: #E5E5E5;
    width: 1px;
    height: 47px;
}

.dropdown.popup{
    display: block;
    z-index: 1;
}

.dropdown.popup.country {
    max-height: 20rem;
    overflow: scroll;
}

.popup {
    z-index: 1;
    position: absolute;
    display: none;
    top: 6.5rem;
    background-color: #FFFFFF;
    /* left: 1rem; */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.koUnivLists {
    width: 20rem;
    /* overflow: hidden; */
}
.koUnivLists li {
    display: block;
    font-size: 18px;
    border-bottom: 1px solid rgb(169, 169, 169);
    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.popup.continent > p, .popup.country > p {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.continentLists {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-around; */
    align-items: center;
    width: 35rem;
    overflow: scroll;
}

.continentLists li{
    flex-shrink: 0;
    margin: 0 0.9rem;
    text-align: center;
    line-height: 7rem;
    width: 7rem;
    height: 7rem;
    border: 3px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;
}

.continentLists li.selected {
    transition: all .2s;
    border: 3px solid #4DB7E6;
    color: #4DB7E6;
}

.countryLists li.selected{
    transition: all .1s;
    color: #4DB7E6;
}

.countryLists {
    display: flex;
    width: 30rem;
    /* height: 23rem; */
    flex-wrap: wrap;
    padding: 0 1rem;
    overflow: scroll;
}

.countryLists li {
    position: relative;
    text-align: left;
    height: 3rem;
    line-height: 3rem;
    width: 50%;
    border-bottom: 1px solid #D1D1D1;
    cursor: pointer;
}

.countryLists li::before {
    content: "";
    background-image: url('https://cdn0.iconfinder.com/data/icons/map-location-solid-style/91/Map_-_Location_Solid_Style_01-256.png');
    background-size: 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    transform: translateY(20%);
}

.countryLists li:hover {
    background-color: #E5E5E5;
    color: #4DB7E6;
    border-radius: 10px;
}

.popup ul p {
    display: block;
    flex-basis: 100%;
    font-size: 15px;
    margin-bottom: 2rem;
    text-align: center;
}

.hl {
    color: #4DB7E6;
}

.mainImg {
    display: flex;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
    /* background-position: center; */
    background-size: cover;
    border-radius: 20px;
    height: 300px;
    width: 68vw;
    height: 450px;
    margin: 4rem auto 1rem auto;
}

.mainImg h3 {
    font-size: 2.5rem;
    color: ghostwhite;
    /* margin-top: 3.5em;
    margin-left: 1.5em; */
    margin : 3.5em 0 0 1.4em;
}

.mainImg p {
    color: ghostwhite;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 3em;
    margin-top: 1.5em;
}

@media screen and (max-width : 1364px){
    button{
        width: 85px;
        height: 80px;
    }
}