body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    height: 13vh;
    border-bottom: 1px solid #E5E5E5;
}

nav a {
    position: absolute;
    left: 5%;
    text-decoration: none;
    color: #4DB7E6;
    font-weight: bold;
    font-size: 2rem;
}

nav img{
    position: absolute;
    width: 35px;
    right: 16%;
    cursor: pointer;
}


.table {
    /* border: 1px solid black; */
    width: 46vw;
    margin-left: 5%;
    margin-top: 5%;
    border-collapse: collapse;
}
thead {
    background-color: #F3F3F3;
    height: 3em;
}
th {
    font-size: 1rem;
    border-bottom: 1px solid ghostwhite;
    color: #444444;
}

th:nth-child(3){
    width: 20rem;
}

th:nth-child(4){
    width: 6rem;
}


caption {
    /* border: 1px solid red; */
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    /* padding-left: 0.5em; */
}

tbody {
    text-align: center;
}

tbody td {
    border-bottom: 2px solid #D1D1D1;
    height: 3rem;
}

tr:nth-child(even) td{
    background-color: #FBFBFB;
}

td:nth-child(3){
    color: #4DB7E6;
}

caption::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FevsuN1%2Fbtqwv7AzpUq%2FOsYekCm24IuK0Sdy1QeFuK%2Fimg.png');
    background-position: center;
    background-size: 100%;
    margin-right: 0.3em;
    transform: translateY(11%);
}